<mat-toolbar class="header" *ngIf="taskListState$ | async as taskListState">
  <div class="nav-bar">
    <a routerLink="/">
      <button mat-button color="primary">
        <mat-icon>dashboard</mat-icon>
        <span>Todo List for Bmetric</span>
      </button>
    </a>
    <button (click)="onClickAdmin()" mat-button color="primary">Admin</button>
  </div>
  <p *ngIf="router.url === '/'" class="counter">
    <mat-icon
      color="primary"
      matBadge="{{ taskListState.taskList.tasks.length }}"
      matBadgeColor="warn"
      >description</mat-icon
    >
  </p>
  <button
    *ngIf="router.url === '/admin'"
    (click)="openAddTaskDialog()"
    mat-raised-button
    color="primary"
  >
    <mat-icon>note_add </mat-icon>
  </button>
  <div class="tasks"></div>
  <button
    *ngIf="!taskListState.taskList.userIsLogged"
    (click)="openLoginDialog()"
    mat-raised-button
    class="header-button"
    aria-label="Switch to admin"
    color="primary"
  >
    Log In
  </button>
  <button
    *ngIf="taskListState.taskList.userIsLogged"
    (click)="onClickLogOut()"
    mat-raised-button
    class="header-button"
    aria-label="Switch to admin"
    color="warn"
  >
    Log Out
  </button>
</mat-toolbar>
