<mat-card class="card">
  <ng-container *ngIf="!task.create">
    <mat-card-subtitle>{{ task.title }}</mat-card-subtitle>
    <mat-card-title>{{ task.responsible }}</mat-card-title>
    <mat-card-content>
      <p>{{ task.text }}</p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions *ngIf="router == '/admin'" class="card-footer">
      <button mat-raised-button color="accent" (click)="this.edited.emit(task)">Edit</button>
      <button mat-raised-button color="primary" (click)="this.deleted.emit(task)">Delete</button>
    </mat-card-actions>
  </ng-container>
</mat-card>
